
.vs/BrawlSimLib/v15/.suo
*.db
*.ipch
*.obj
*.log
*.idb
*.pdb
*.lastbuildstate
*.tlog
*.lib
external/BWAPI/.vs/bwapi/v15/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.db-shm
*.db-wal
external/BWAPI/.vs/ExampleProjects/v15/.suo
*.cs
*.config
*.manifest
*.opendb
